form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px;
}

fieldset {
  display: flex;
  flex-direction: column; /* Aligne les éléments dans un ordre vertical */
  gap: 10px; /* Espacement entre les champs du formulaire */
  border: none;
  padding: 0;
}

label {
  display: flex;
  flex-direction: column;
}
