// @import "./variables";
@use "variables" as *;

/**************************************************************/
/*                        FONTS                               */
/**************************************************************/
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap");

/**************************************************************/
/*                       GENERAL                             */
/**************************************************************/

* {
  box-sizing: border-box;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: $slate-100;
  margin: 0;
  font-size: $f16;
  color: $slate-700;
  font-weight: 500;
}

h1 {
  color: $slate-900;
  font-size: $f24;
  font-weight: 700;
}

p {
  color: $slate-300;
}

form {
  margin: 0;
  padding: 0;
}

button {
  all: unset;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}

input {
  cursor: pointer;
}

input,
textarea,
button,
select {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;
}
/**************************************************************/
/*                       LAYOUT                               */
/**************************************************************/
.calculator-section {
  background-color: $white;
  padding: 1.7em;

  &_title {
    color: $slate-900;
    margin-bottom: 0.3em;
  }
}
.results-section {
  display: flex;
  flex-direction: column;
  gap: 1em;

  padding: 1.7em;
  background-color: $slate-800;
  &_title {
    color: $white;
    text-align: left;
  }

  &_text {
    color: $slate-300;
    text-align: left;
    margin-top: 0;
  }
}

.results-wrapper {
  background-color: $slate-900;
  padding: 1em;
  border-radius: 10px;
  border-top: 4px solid $lime;
  display: flex;
  flex-direction: column;
  gap: 0.8em;

  & > p {
    margin: 0;
  }

  & > p:nth-of-type(2) {
    padding-bottom: 0.5rem;
  }

  & > p:nth-of-type(3) {
    padding-top: 1.5em;
    border-top: 1px solid $slate-500;
  }
}

.highlight-yellow {
  color: $lime;
  font-weight: 700;
  font-size: $f40;
}

.highlight-white {
  color: $white;
  font-weight: 900;

  font-size: $f20;
}

.error-message {
  color: $red;
}
/**************************************************************/
/*                      MEDIA QUERIES                         */
/**************************************************************/

@media (min-width: 1440px) {
  .container {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 60%;
    max-width: 1200px;
    height: auto;

    background: $white;
    border-radius: 20px;
  }

  .calaculator-section_title-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .calculator-section_title,
  .results-section_title {
    margin: 0;
  }

  section {
    flex: 1;
  }

  .calculator-section {
    border-radius: 20px;
    background-color: $white;
    padding: 2em;
  }

  .results-section {
    border-radius: 0 20px 20px 60px;
    padding: 2em;
    align-items: center;
    justify-content: center;

    & > img {
      width: 15em;
    }

    &_text {
      text-align: center;
    }
  }

  .input-container {
    display: flex;
    gap: 1.5em;
  }
}
